<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Bootstrap-->
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
      crossorigin="anonymous">
  <!--Bootstrap Icons-->
    <link 
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <title>{% block title %}Home{% endblock %}</title>
  </head>

  <body>
  <!--Navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container position-relative">
        
      <!--Navbar Brand-->
        <a class="navbar-brand" href="/">NoteIt</a>  
        
      <!--Navbar Toggler-->      
       <button 
          class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbar">            
          <span class="navbar-toggler-icon"></span>
        </button>

    
      <!--Navbar Collapse Settings-->
        <div class="collapse navbar-collapse" id="navbar">          
          <ul class="navbar-nav navbar-nav-scroll me-auto mb-2 mb-lg-0" style="">
        <!--Checks if user is logged in what to show-->
          {% if user.is_authenticated %}        
            
          <!--Navbar Links-->
          <!--Home-->
            <li><a class="nav-item nav-link" id="home" href="/">Home</a></li>
          <!--My Page-->
            <li><a class="nav-item nav-link" id="mypage" href="/mypage/{{user.username}}">My Page</a></li>
          <!--Logout-->
            <li><a class="nav-item nav-link" id="logout" href="/logout">Logout</a></li>
            <li><a class="nav-item nav-link" id="" href="#"></a></li>
            <li><a class="nav-item nav-link" id="" href="#"></a></li>
            <li><a class="nav-item nav-link" id="" href="#"></a></li>
          </ul>
            
          
          
        <!--Search bar settings-->
          <div class="me-3" id="navbar">
            <form class="d-flex p-1" method="GET" action="{{url_for('views.search')}}">
            
            <!--Input Form-->  
              <input 
                class="form-control me-2 mr-sm-2" 
                type="search" 
                placeholder="Search" 
                aria-label="Search"
                name="q">

            <!--Search Button-->
              <span class="input-group-btn">
                <button class="btn btn-outline-secondary" type="submit">
                  Search
                </button>
              </span>
            </form>
          </div>
              
        
        
          {% else %}
          
        <!--If not logged in show Login and Sign Up links-->
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav navbar-nav-scroll me-auto mb-2 mb-lg-0">
            <!--Login-->          
              <li><a class="nav-item nav-link" id="login" href="/login">Login</a></li>
            <!--Signup-->       
              <li><a class="nav-item nav-link" id="signUp" href="/signup">
              <!--Signup Button-->
                <button class="btn btn-sm btn-secondary navbar-btn" type="button">Sign Up</button></a>
              </li>          
            </ul>
        </div>
        {% endif%}
      </div>          
    </nav>

      <!--Add Note Button-->
       {% if user.is_authenticated %}
       
       <div class="d-flex position-relative justify-content-end 
          pt-2 pe-4 mx-3 col-11">
        <!--Button-->
         <button
           style="z-index:1"
           type="button"
           class="btn btn btn-secondary position-fixed"
           data-bs-toggle="modal"
           data-bs-target="#addnotemodal">Add Note
         </button>
         
        <!-- Modal -->
         <form method="POST" class="">
           <div
             style=""
             class="modal fade"
             id="addnotemodal"
             tabindex="-1"
             aria-labelledby="ModalLabel"
             aria-hidden="true">
             
            <!--Modal Dialog-->
             <div class="modal-dialog modal-dialog-centered" style="">
               
              <!--Modal Content-->
               <div class="modal-content">
                 
                <!--Modal Header-->
                 <div class="modal-header">
                   <h5 class="modal-title mx-auto" id="ModalLabel">Add Note</h5>
                   <!--<button
                     type="button"
                     class="btn-close"
                     data-bs-dismiss="modal"
                     aria-label="Close">
                   </button>-->
                 </div>
                 
                <!--Modal Body-->
                 <div class="modal-body">
                   <textarea name="text" id="text" placeholder="Enter text" class="form-control"></textarea>
                 </div>
                 
                <!--Modal Footer-->
                 <div class="modal-footer">
                   <button
                     type="button"
                     class="btn btn-secondary"
                     data-bs-dismiss="modal">Close
                   </button>
                   
                   <button 
                   type="submit" 
                   class="btn btn-primary">NoteIt!
                   </button>
                 
                 </div>
               </div>
             </div>
           </div>
         </form>
       </div>
       {% endif%}    
  
 
  <!--Alert Messages-->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %} {% for category, message in messages %}
  
    <!--Error Alert-->
      {% if category == 'error' %}
      
      <div 
        class="alert fade show alert-danger align-items-center 
          m-2 mx-auto col-5" 
        role="alert" 
        aria-live="assertive"
        aria-atomic="true"
        data-bs-autohide="true"
        data-bs-animation="true"
        data-bs-delay="5000"
        >

        <div class="d-flex">
        <!--Message-->
          <div class="">
            {{ message }}
          </div>
          
        <!--Button-->
          <button 
            type="button" 
            class="btn-close btn-close-red me-2 m-auto" 
            data-bs-dismiss="alert">
          </button>
        </div>
      </div>

      {% else %}

    <!--Success Alert-->
      <div 
        class="alert show alert-success align-items-center 
          m-2 mx-auto col-5" 
        role="alert" 
        aria-live="assertive"
        aria-atomic="true"
        data-bs-autohide="true"
        data-bs-animation="true"
        data-bs-delay="5000"
        >
        
        <div class="d-flex">
        <!--Message-->
          <div class="">
            {{ message }}
          </div>
          
        <!--Button-->
          <button 
            type="button" 
            class="btn-close me-2 m-auto" 
            data-bs-dismiss="alert">
          </button>
        </div>
      </div>
    
    {% endif %} {% endfor %} {% endif %} {% endwith %}
  
  {% block content %} {% endblock %}
  
  <!--Bootstrap Script-->
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
      crossorigin="anonymous">
    </script>
  </body>
</html>