<!DOCTYPE html>
<html lang="">
  <head>
    <!--Bootstrap-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
      crossorigin="anonymous">

    <title>{% block title %}Home{% endblock %}</title>
  </head>

  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        
        <!--Navbar Brand-->
        <a class="navbar-brand" href="/">NoteIt</a>  
        
        <!--Navbar Toggler-->      
       <button 
          class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbar">            
          <span class="navbar-toggler-icon"></span>
        </button>

         <!--Add Note Button-->
      {% if user.is_authenticated %}
      <div class="" style="justify-content:end">
        <button
          style=""
          type="button"
          class="btn btn-secondary navbar-btn mx-auto"
          data-bs-toggle="modal"
          data-bs-target="#addnotemodal">Add Note
        </button>
        
        <!-- Modal -->
        <form method="POST" class="">
          <div
            style=""
            class="modal fade"
            id="addnotemodal"
            tabindex="-1"
            aria-labelledby="ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" style="">
              <div class="modal-content">
                
                <!--Modal Header-->
                <div class="modal-header">
                  <h5 class="modal-title mx-auto" id="ModalLabel">Add Note</h5>
                  <!--<button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
                  </button>-->
                </div>
                
                <!--Modal Body-->
                <div class="modal-body">
                  <textarea name="text" id="text" placeholder="Enter text" class="form-control"></textarea>
                </div>
                
                <!--Modal Footer-->
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">Close
                  </button>
                  <button 
                  type="submit" 
                  class="btn btn-primary">Submit
                  </button>
                
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      {% endif%}
    
        <!--Navbar Collapse Settings-->
        <div class="collapse navbar-collapse" id="navbar">          
          <div class="navbar-nav navbar-nav-scroll me-auto mb-2 mb-lg-0" style="">
          <!--Checks if user is logged in what to show-->
          {% if user.is_authenticated %}        
            
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="mypage" href="/mypage/{{user.username}}">My Page</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            <a class="nav-item nav-link" id="" href="#"></a>
            <a class="nav-item nav-link" id="" href="#"></a>
          </div>
            
          
          
          <div class="me-3" id="navbar">
          <!--Search bar settings-->
          <form class="d-flex p-1" method="GET" action="{{url_for('views.search')}}">
            <input class="form-control me-2 mr-sm-2" type="search" placeholder="Search" aria-label="Search"
            name="q">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
          </div>
              
        
        
          {% else %}
          
          <!--If not logged in show Login and Sign Up-->
          <div class="collapse navbar-collapse" id="navbar">
            <div class=" navbar-nav navbar-nav-scroll me-auto mb-2 mb-lg-0">          
              <a class="nav-item nav-link" id="login" href="/login">Login</a>        
              <a class="nav-item nav-link" id="signUp" href="/signup">
                <button class="btn btn-secondary navbar-btn" type="button">Sign Up</button>
              </a>          
            </div>
        </div>
          
        {% endif%}
      
      </div>          
       
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %} {% for category, message in messages %}
    {% if category == 'error' %}
    
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    
    {% else %}
    
    <div class="alert alert-success alert-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    
    <div class="container">{% block content %} {% endblock %}</div>
    
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
      crossorigin="anonymous">
    </script>
  </body>
</html>