{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block content%}
<br />

<!--Card-->
<div class="card shadow-sm w-50 mx-auto">
  
  <!--Card-->
  <form class="column p-3" method="POST" novalidate>
  
    <!--Form Title-->
    <div class="text-center mb-3"><h3>Login</h3></div>
    
    <!--Email-->
    <div class="col-md-11 mx-auto form-group p-2">
      <label for="email" class="form-label">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    
    <!--Password-->
    <div class="col-md-11 mx-auto p-2">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    
    <!--Remember Me Checkbox-->
    <div class="col-12 form-check mb-2 mr-sm-2 m-3">
      <label class="form-check-label" for="remember">
        <input
          class="form-check-input"
          value="True"
          type="checkbox"
          id="remember"
        />Remember me
      </label>
    </div>
    
    <!--Submit Button-->
    <div class="col-12 text-center mt-3">
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>
  </form>
</div>
{% endblock %}
