{% extends "base.html" %} {% block title %}{% endblock %} {% block content%}
<br />
<h1 align="center">{% block header %}{% endblock %}</h1>
<br/>
<br/>

<!--Notes Layout-->
  <div class="" id="notes">
    {% for note in notes %}
    
  <!--Notes Card-->
    <div id="" class="card d-flex shadow-sm col-lg-4 col-md-4 col-sm-5 col-6  mx-auto mb-3">
      
    <!--Notes Card Header-->
      <div class="d-flex justify-content-between m-2">
        <div class="card-title">
          
        <!--Notes Card Profile Img and Link-->
          
          <!--Image-->
            <a 
              class="link-secondary" 
              href="/mypage/{{note.user.username}}">
              <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
            </a>

          <!--Username Link to page-->
            <a 
              class="link-secondary ml-auto" 
              href="/mypage/{{note.user.username}}">{{note.user.username}}
            </a>

          <!--Time Created-->  
            <div>
              <small 
                class="text-muted m-2"> {{note.created_at|timeago}}
              </small>
            </div>
        </div>
        
        <!--If note author show dropdown to delete-->
        {% if user.id == note.author %}
        
        <!--Dropdown-->
          <div class="dropdown">
          
          <!--Button-->
            <button
              type="button"
              class="btn btn-sm btn-secondary dropdown-toggle"
              data-bs-toggle="dropdown">
            </button>
        
          <!--Menu-->
            <ul class="dropdown-menu">
              <li><a 
                class="dropdown-item" 
                href="/delete-note/{{note.id}}">Delete
              </a></li>
            </ul>
          </div>
          {% endif %}
        </div>
    <!--Notes Card Body-->
      <div>
      <div class="card-body pt-0">

      <!--Notes Card Text-->
        <div class="card-text mb-2">{{note.text}}</div>
        
      
      </div>
      <!--View Comments Button-->
        {% if note.comments|length > 0 %}
        <div class="d-flex container-fluid justify-content-end mx-0">
          <a 
            class="col-6" 
            data-bs-toggle="collapse" 
            href="#comments-{{note.id}}" 
            role="button">
            <small>View Comments</small>
          </a>

          {% else %}

          <!--Show Nothing-->
          <small class="text-muted"></small>
          {% endif %}
        </div>
        
      <!--Like/Comment/Share Buttons-->
        <div 
          class="container-fluid btn-group p-0" 
          style="">

        <!--Like Button-->
          <a class="btn border-light col-3" type="button">Like</a>

        <!--Comment Button-->
          <a 
            class="btn border-light col-5" 
            type="button"
            data-bs-toggle="collapse"
            href="#commentform-{{note.id}}">Comment
          </a>

        <!--Share Button-->
          <a class="btn border-light col-4" type="button">Share</a>
        </div>
        
      <!--View Comments Collapse Settings-->
        <div class="collapse" id="comments-{{note.id}}">
        
      <!-- View Comments Card-->
      
        <div class="m-2" id="comments-expanded-{{note.id}}">
          
        <!--Checks for comments in note-->
          {% for comment in note.comments %}
          
        <!--Comments Card-->
          <div class="card" id="comments">
          <!--Comment Card Header-->
            <div class="d-flex justify-content-between m-2">
              <div class="card-title">
                
              <!--Comment Card Profile Img and Link-->
                <!--Image-->
                  <a 
                    class="link-secondary" 
                    href="/mypage/{{comment.user.username}}">
                    <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                      <!--<img class="card-img" src="" alt="img">-->
                  </a>

                <!--Username Link to page-->
                  <a 
                    class="link-secondary ml-auto" 
                    href="/mypage/{{comment.user.username}}">
                    {{comment.user.username}}
                  </a>
              </div>
            
            
              <!--If comment author, show dropdown-->
                {% if user.id == comment.author %}

              <!--Dropdown-->
                <div class="dropdown">

                <!--Button-->
                  <button
                    type="button"
                    class="btn btn-sm btn-secondary dropdown-toggle"
                    data-bs-toggle="dropdown">
                  </button>

                <!--Menu-->
                  <div class="dropdown-menu">
                  <!--Delete-->
                    <li><a 
                      href="/delete-comment/{{comment.id}}" 
                      class="dropdown-item">Delete
                    </a></li>
                  </div>
                
                </div>
                {% endif %}
            </div>

          <!--Comment Card Body-->
          <!--Comment Text-->
            <div
              class="card-body pt-0 mb-1" 
              id="">{{comment.text}}
            </div>
          </div>
        
          <!--Comment Card footer-->
            <div class="ms-2">
            <!--Time Created-->
              <small 
                class="text-muted"> {{comment.created_at|timeago}}
              </small>
            </div>
          
            {% endfor %}
        </div>
      
      </div>
          
      <!-- Add Comment Form-->
        <form
          class="container-fluid input-group collapse p-2 m-0 hide"
          tabindex="-1"
          id="commentform-{{note.id}}"
          method="POST"
          action="/create-comment/{{note.id}}">

          <input
            type="text"
            id="text"
            name="text"
            class="form-control"
            placeholder="Add Comment"/>

          <button 
            type="submit" class="btn btn-sm btn-secondary">Submit
          </button>
        </form>
    

      
    
    </div>
    </div>
    {% endfor %}
    </div>
  </div>

{% block footer %} {% endblock %} {% endblock %}