{% extends "base.html" %} {% block title %}Search results{% endblock %} {% block
content%}
<br />
<h1 align="center">{% block header %}Search results{% endblock %}</h1>
<br />

<!--Notes Layout-->
<div id="notes">
  {% for note in notes %}
  
  <!--Notes Card-->
  <div class="card w-50 mx-auto">
    
    <!--Notes Card Header-->
    <div class="card-header d-flex justify-content-between align-items-center">
      
      <!--Username Link on Note-->
      <a 
        class="link-secondary" 
        href="/mypage/{{note.user.username}}">{{note.user.username}}
      </a>
      
      <!--If note author show dropdown to delete-->
      {% if user.id == note.author %}
      
      <!--Dropdown Button-->
      <div class="dropdown">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary dropdown-toggle"
          data-bs-toggle="dropdown">
        </button>
        
        <div class="dropdown-menu">
          <a 
            class="dropdown-item" 
            href="/delete-note/{{note.id}}">Delete
          </a>
        </div>
      </div>
      {% endif %}
    </div>
    
    <!--Notes Card Body-->
    <div class="card-body">
      <div class="card-text">{{note.text}}</div>
      <br />
      <br />
      
      <!-- Add Comment Form-->
      <form
        class="input-group"
        method="POST"
        action="/create-comment/{{note.id}}">

        <input
          type="text"
          id="text"
          name="text"
          class="form-control"
          placeholder="Add Comment"/>
        
          <button 
          type="submit" class="btn btn-sm btn-secondary">Submit
        </button>
      </form>

      <!--Comment Card Text-->
      <div class="card-text">
        
        <!--View Comments Button-->
        {% if note.comments|length > 0 %}
        <a class="" data-bs-toggle="collapse" href="#comments-{{note.id}}" role="button">
          <small>View Comments</small>
        </a>
        
        {% else %}
        
        <!--Show Nothing-->
        <small class="text-muted"></small>
        
        {% endif %}
      </div>
      
      <!--View Comments-->
      <div 
        class="collapse" id="comments-{{note.id}}">
        
        <!-- View Comments Card-->
        <div class="card">
          <div class="card" id="comments-expanded-{{note.id}}">
            
            <!--Checks for comments in note-->
            {% for comment in note.comments %}
            
            <!--Comments Card-->
            <div class="card">
            
              <!--Comment Card Header-->
            <div class="card-header d-flex justify-content-between align-items-center">
             
              <!-- Comment author link to page-->
              <div>
                <a 
                  class="link-secondary" 
                  href="/mypage/{{comment.user.username}}">{{comment.user.username}}
                </a>
              </div>
              
              <!--If user id matches comment author, show delete button-->
              {% if user.id == comment.author %}
              
              <!--Delete Button for Comments-->
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary dropdown-toggle"
                  data-bs-toggle="dropdown">
                </button>
                
                <div class="dropdown-menu">
                  <a 
                    href="/delete-comment/{{comment.id}}" 
                    class="dropdown-item">Delete
                  </a>
                </div>
              </div>
              {% endif %}
            </div>

            <!--Comment text-->
            <div 
              class="card-body">{{comment.text}}
            </div>
            
            <!--Card footer-->
            <small 
              class="text-muted p-3"> {{comment.date_created}}
            </small>
            
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    
    <!--Notes Card Footer--> 
    <div class="card-footer justify-content-between text-muted">
      {{note.date_created}}
    </div>
  </div>
  </div>
  <br/ > {% endfor %}
</div>

{% block footer %} {% endblock %} {% endblock %}
